.container {
  width: 100%;
}

#map {
  height: 100vh;
  width: 65%;
  float: left;
}

#info-panel {
  height: 100vh;
  width: 33%;
  float: left;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 10px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.info-table th {
  text-align: left;
}

.info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
