.container {
  width: 100%;
}

#map {
  height: 100vh;
  width: 65%;
  float: left;
  position: relative; /* To position legend inside map */
}

#info-panel {
  height: 100vh;
  width: 33%;
  float: left;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 10px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.info-table th {
  text-align: left;
}

.info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* New styles for the legend inside the map */
.legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;  /* Ensure the legend is on top of the map */
    width: 150px;  /* Fixed width */
    height: 50px;  /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

#percent-legend {
  position: absolute; /* Positioning relative to the nearest positioned ancestor */
  left: 10px; /* Distance from the left side of the viewport */
  bottom: 10px; /* Distance from the bottom of the viewport */
  padding: 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #888;
  font-family: Arial, sans-serif;
  z-index: 1000; /* Makes sure the legend is on top of other elements */
}
#percent-legend h4 {
  margin-top: 0;
  font-size: 16px;
}
#send {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;

}
